<?xml version='1.0' encoding='utf-8'?>
<widget id="fr.tyrolium.app.gamenium" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Gamenium</name>
    <description>Gamenium App</description>
    <author email="officiel@tyrolium.fr" href="https://tyrolium.fr">
        Tyrolium
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
